[Unit]
Description=RTC PI program

[Service]
Type=simple
User=root
ExecStart=/home/stefziv/Desktop/OSURV/Test/moj_program //lokacija a.out
Restart=always
RestartSec=3600
KillMode=process

[Install]
WantedBy=multi-user.target
