[Unit]
Description=RTC_PI_program

[Service]
Type=simple
User=root
ExecStart=/home/pi/Documents/OSuRV_dodatni_projekat/OSuRV_-_Real_Time_Clock_with_Battery/kod/a.out
Restart=always
RestartSec=3600
KillMode=process

[Install]
WantedBy=multi-user.target
